### 1、日期和时间数据类型及工具

In [1]:
from datetime import datetime
import numpy as np
import pandas as pd

In [2]:
now = datetime.now()
now

datetime.datetime(2022, 3, 10, 15, 28, 40, 817261)

In [3]:
now.year,now.month,now.day

(2022, 3, 10)

In [4]:
delta = datetime(2011,1,7) - datetime(2008,6,24,8,15)
delta

datetime.timedelta(days=926, seconds=56700)

In [5]:
from datetime import timedelta

In [6]:
start = datetime(2011,1,7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [7]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [8]:
stamp = datetime(2011,1,3)
str(stamp)

'2011-01-03 00:00:00'

In [9]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [10]:
value = '2011-01-03'
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [12]:
datestrs = ['7/6/2011','8/6/2011']
[datetime.strptime(x,'%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [13]:
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [14]:
parse('Jan 31,1997 10:45 PM')

datetime.datetime(2022, 1, 31, 22, 45)

In [15]:
parse('6/12/2011',dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [16]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

### 2、时间序列基础

In [17]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
   ....:          datetime(2011, 1, 7), datetime(2011, 1, 8),
   ....:          datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6),index=dates)
ts

2011-01-02    0.377292
2011-01-05    0.396241
2011-01-07   -1.508840
2011-01-08   -0.542478
2011-01-10    1.362286
2011-01-12   -0.645840
dtype: float64

In [18]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [19]:
ts.index.dtype

dtype('<M8[ns]')

In [20]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [21]:
stamp = ts.index[2]
ts[stamp]

-1.5088403441902971

In [23]:
ts['20110110']

1.362286074750323

In [24]:
longer_ts = pd.Series(np.random.randn(1000),
   ....:                       index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01    2.072566
2000-01-02   -0.827633
2000-01-03   -1.280349
2000-01-04   -0.481149
2000-01-05   -0.101882
                ...
2002-09-22   -0.169958
2002-09-23   -1.751902
2002-09-24    0.114246
2002-09-25    0.678480
2002-09-26   -0.235231
Freq: D, Length: 1000, dtype: float64

In [25]:
longer_ts['2001']

2001-01-01   -0.543297
2001-01-02   -0.757402
2001-01-03   -0.705925
2001-01-04    0.383748
2001-01-05    0.521240
                ...
2001-12-27    0.286015
2001-12-28   -0.102232
2001-12-29   -1.268610
2001-12-30    0.143829
2001-12-31   -0.259569
Freq: D, Length: 365, dtype: float64

In [26]:
longer_ts['2001-05']

2001-05-01   -0.492910
2001-05-02   -0.131867
2001-05-03    0.778723
2001-05-04    0.937456
2001-05-05    0.496742
2001-05-06    0.355395
2001-05-07   -0.255856
2001-05-08   -0.375745
2001-05-09    1.131841
2001-05-10    0.783303
2001-05-11   -1.831808
2001-05-12   -0.211448
2001-05-13   -1.040069
2001-05-14    0.235446
2001-05-15    0.865424
2001-05-16    0.711421
2001-05-17   -1.163019
2001-05-18   -1.162063
2001-05-19   -0.419481
2001-05-20   -0.502797
2001-05-21   -0.108160
2001-05-22    1.094484
2001-05-23   -0.290095
2001-05-24    0.776809
2001-05-25    0.294974
2001-05-26    1.320072
2001-05-27   -1.099935
2001-05-28   -0.004276
2001-05-29   -2.070403
2001-05-30    0.324620
2001-05-31   -0.168982
Freq: D, dtype: float64

In [27]:
ts[datetime(2011,1,7):]

2011-01-07   -1.508840
2011-01-08   -0.542478
2011-01-10    1.362286
2011-01-12   -0.645840
dtype: float64

In [28]:
ts['20110106':'20110111']

2011-01-07   -1.508840
2011-01-08   -0.542478
2011-01-10    1.362286
dtype: float64

In [30]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4),index=dates,columns=['Colorado', 'Texas',
'New York', 'Ohio'])
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.183749  0.014313  0.442036  0.997265
2001-05-09  0.656336 -1.830466  1.771884  0.656288
2001-05-16 -1.223969  0.600125  0.950067 -0.073768
2001-05-23  0.716205 -2.044728 -0.451052  0.746981
2001-05-30  1.580026  0.243086 -1.580220 -1.637720

In [31]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
   ....:                           '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [32]:
dup_ts.index.is_unique

False

In [33]:
dup_ts['20000103']

4

In [34]:
dup_ts['20000102']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [35]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [36]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

### 3、日期的范围、频率以及移动

In [37]:
ts

2011-01-02    0.377292
2011-01-05    0.396241
2011-01-07   -1.508840
2011-01-08   -0.542478
2011-01-10    1.362286
2011-01-12   -0.645840
dtype: float64

In [39]:
resampler = ts.resample('D')

In [40]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [41]:
pd.date_range(start='2012-04-01',periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [42]:
pd.date_range(end='2012-06-01',periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [43]:
pd.date_range('2000-01-01','2000-12-01',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [45]:
from pandas.tseries.offsets import Hour,Minute
hour = Hour()
hour

In [46]:
fourhours = Hour(4)
fourhours

In [47]:
pd.date_range('2000-01-01','2000-01-03 23:59',freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [48]:
Hour(2) + Minute(30)

In [50]:
rng = pd.date_range('2012-01-01','2012-09-01',freq='WOM-3FRI')
rng

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [51]:
ts = pd.Series(np.random.randn(4),
   ....:                index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31    1.280752
2000-02-29   -0.141650
2000-03-31    2.156391
2000-04-30    0.458179
Freq: M, dtype: float64

In [52]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    1.280752
2000-04-30   -0.141650
Freq: M, dtype: float64

In [53]:
ts.shift(-2)

2000-01-31    2.156391
2000-02-29    0.458179
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [54]:
ts.shift(2,freq='M')

2000-03-31    1.280752
2000-04-30   -0.141650
2000-05-31    2.156391
2000-06-30    0.458179
Freq: M, dtype: float64

In [55]:
ts.shift(3,freq='D')

2000-02-03    1.280752
2000-03-03   -0.141650
2000-04-03    2.156391
2000-05-03    0.458179
dtype: float64

In [56]:
from pandas.tseries.offsets import Day,MonthEnd

In [57]:
now = datetime(2011,11,17)
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [58]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [59]:
offset = MonthEnd()
offset

In [60]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [61]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [62]:
ts = pd.Series(np.random.randn(20),
   .....:                index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15    1.007890
2000-01-19    0.079481
2000-01-23   -0.787573
2000-01-27    0.385091
2000-01-31    0.274867
2000-02-04   -0.558417
2000-02-08    0.189418
2000-02-12    0.289456
2000-02-16    0.698042
2000-02-20    0.075006
2000-02-24   -0.105685
2000-02-28   -1.389008
2000-03-03    0.882321
2000-03-07    0.003064
2000-03-11   -1.252096
2000-03-15    0.204631
2000-03-19   -1.350708
2000-03-23   -2.247035
2000-03-27   -0.707827
2000-03-31   -0.402331
Freq: 4D, dtype: float64

In [63]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.191951
2000-02-29   -0.114455
2000-03-31   -0.608748
dtype: float64

In [64]:
ts.resample('M').mean()

2000-01-31    0.191951
2000-02-29   -0.114455
2000-03-31   -0.608748
Freq: M, dtype: float64

### 4、时区处理

In [65]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [67]:
tz = pytz.timezone('America/New_York')
tz

In [68]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-09 09:30:00   -0.089519
2012-03-10 09:30:00    1.325430
2012-03-11 09:30:00   -0.021457
2012-03-12 09:30:00    0.824582
2012-03-13 09:30:00    0.628329
2012-03-14 09:30:00   -1.453313
Freq: D, dtype: float64

In [69]:
print(ts.index.tz)

None

In [70]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [72]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-09 09:30:00+00:00   -0.089519
2012-03-10 09:30:00+00:00    1.325430
2012-03-11 09:30:00+00:00   -0.021457
2012-03-12 09:30:00+00:00    0.824582
2012-03-13 09:30:00+00:00    0.628329
2012-03-14 09:30:00+00:00   -1.453313
Freq: D, dtype: float64

### 5、时期及其算术运算

In [73]:
p = pd.Period(2007,freq='A-DEC')
p

Period('2007', 'A-DEC')

In [74]:
p + 5

Period('2012', 'A-DEC')

In [75]:
pd.Period('2014',freq='A-DEC') - p

In [76]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]')

In [77]:
pd.Series(np.random.randn(6),index=rng)

2000-01   -0.575611
2000-02   -0.004992
2000-03    0.686399
2000-04    0.598836
2000-05    2.472139
2000-06    0.071441
Freq: M, dtype: float64

In [78]:
p = pd.Period('2007', freq='A-DEC')
p

Period('2007', 'A-DEC')

In [79]:
p.asfreq('M',how='start')

Period('2007-01', 'M')

In [80]:
p.asfreq('M',how='end')

Period('2007-12', 'M')

In [81]:
rng = pd.period_range('2006', '2009', freq='A-DEC')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2006   -1.517505
2007   -0.101145
2008   -0.727928
2009    0.333542
Freq: A-DEC, dtype: float64

In [82]:
ts.asfreq('M',how='start')

2006-01   -1.517505
2007-01   -0.101145
2008-01   -0.727928
2009-01    0.333542
Freq: M, dtype: float64

In [83]:
rng = pd.date_range('2000-01-01', periods=3, freq='M')
ts = pd.Series(np.random.randn(3), index=rng)
ts

2000-01-31   -0.160375
2000-02-29    0.451052
2000-03-31   -0.184658
Freq: M, dtype: float64

In [84]:
pts = ts.to_period()

In [85]:
pts

2000-01   -0.160375
2000-02    0.451052
2000-03   -0.184658
Freq: M, dtype: float64

In [87]:
pts.to_timestamp(how='end')

2000-01-31 23:59:59.999999999   -0.160375
2000-02-29 23:59:59.999999999    0.451052
2000-03-31 23:59:59.999999999   -0.184658
dtype: float64

### 6、重采样及频率转换

In [88]:
rng = pd.date_range('2000-01-01', periods=100, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2000-01-01   -0.554609
2000-01-02    0.348913
2000-01-03   -0.584542
2000-01-04    3.111461
2000-01-05   -0.525416
                ...
2000-04-05    0.217587
2000-04-06   -0.136487
2000-04-07   -0.606168
2000-04-08    0.894648
2000-04-09    0.383529
Freq: D, Length: 100, dtype: float64

In [89]:
ts.resample('M').mean()

2000-01-31   -0.193761
2000-02-29   -0.071758
2000-03-31    0.135717
2000-04-30    0.336383
Freq: M, dtype: float64

In [90]:
ts.resample('M',kind='period').mean()

2000-01   -0.193761
2000-02   -0.071758
2000-03    0.135717
2000-04    0.336383
Freq: M, dtype: float64

In [91]:
rng = pd.date_range('2000-01-01', periods=12, freq='T')
ts = pd.Series(np.arange(12), index=rng)
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

In [92]:
ts.resample('5min',closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [93]:
frame = pd.DataFrame(np.random.randn(2, 4),
   .....:                      index=pd.date_range('1/1/2000', periods=2,
   .....:                                          freq='W-WED'),
   .....:                      columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame

            Colorado     Texas  New York      Ohio
2000-01-05 -0.374201 -0.987892  0.726542 -0.555968
2000-01-12 -1.058928 -2.249175  0.120905 -0.853095

In [94]:
df_daily = frame.resample('D').asfreq()
df_daily

            Colorado     Texas  New York      Ohio
2000-01-05 -0.374201 -0.987892  0.726542 -0.555968
2000-01-06       NaN       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN       NaN
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -1.058928 -2.249175  0.120905 -0.853095

In [95]:
frame.resample('D').ffill()

            Colorado     Texas  New York      Ohio
2000-01-05 -0.374201 -0.987892  0.726542 -0.555968
2000-01-06 -0.374201 -0.987892  0.726542 -0.555968
2000-01-07 -0.374201 -0.987892  0.726542 -0.555968
2000-01-08 -0.374201 -0.987892  0.726542 -0.555968
2000-01-09 -0.374201 -0.987892  0.726542 -0.555968
2000-01-10 -0.374201 -0.987892  0.726542 -0.555968
2000-01-11 -0.374201 -0.987892  0.726542 -0.555968
2000-01-12 -1.058928 -2.249175  0.120905 -0.853095

In [96]:
frame = pd.DataFrame(np.random.randn(24, 4),
   .....:                      index=pd.period_range('1-2000', '12-2001',
   .....:                                            freq='M'),
   .....:                      columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame[:5]

         Colorado     Texas  New York      Ohio
2000-01 -0.285333 -0.082951  0.466566  1.340635
2000-02 -1.285482 -0.507679  0.670467 -0.150703
2000-03  0.890511 -0.100270 -1.725208 -0.606093
2000-04  1.530105  1.511120  0.401545  0.027440
2000-05 -0.098079  0.001336  0.384885 -0.523715

In [98]:
annual_frame = frame.resample('A-DEC').mean()
annual_frame

      Colorado     Texas  New York      Ohio
2000  0.129266 -0.108795 -0.136136  0.213476
2001 -0.227697 -0.191328  0.149937  0.201621

### 7、移动窗口函数